<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="scheduleBuilder.css"> -->
    <title>Home</title>
    <style>
        html {
        font-size: 14px;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 1rem;
            border-style: groove;
            border-width: 1rem;
        }

        #innerBody{
            padding: 1rem;
        }


    </style>
</head>

<body>
    <div id="innerBody">
        <h1 id="homepageHeader">Home Page</h1>
        
        <p>
            <strong>Welcome</strong> the Schedule Builder.<br>
            Here, we can help you build your schedule. Select "Search Course" to 
            search for a course. Select "Schedule" to view your schedule.
            <br>CYAAA
        </p>
        <div id="searchCourseDiv">
        <a href="/searchCourse" id="searchLink">Add Course</a>
        <a href="/schedule">Schedule</a>
    </div>
    <hr>
    <br>
    <br>
    
</body>

</html>