<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>My Schedule</title>

    <style>
        html {
        font-size: 14px;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 1rem;
            border-style: groove;
            border-width: 1rem;
        }

        #innerBody{
            padding: 1rem;
        }
    </style>
</head>

<body>
	<h1>Your Courses</h1>
    <form>
        <div id="innerBody">
            <%- table %>
        </div>
        
        <a href="/">HOME</a>
    </form>
    <hr>
    <br>
    <br>
</body>

</html>